



.mycart{
    
    width: 0%;
    height: 0%;
    position: fixed;
    right: 10%;
    top: 10%;
    background: rgba(255, 255, 255, 0.993);
    box-shadow: 0 0 25px 1px grey;
    border-radius: 2rem;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    transition: .4s ease-in-out;
    opacity: 0;

     
    
    
}
.mycart.active{
    opacity: 1;

    width: 80%;
    height: 80%;
    padding: 5vw;



}
.mycart h4{
    font-size: 2rem;
    font-weight: 400;
}

.cont{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.cont span{
 }

.cont .cartitem{
     width: 90%;
     display: flex;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.479);
    margin-top: 2rem;
    margin-left: .3rem;
}
.c_image{
    height: 10rem;
    width: 10rem;
    margin-right: 2rem;
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.315);
    border-radius: 1rem;
 }
.c_image img{
    width: 90%;
}

.cartitem p{
    font-size: 12px;
    margin-top: 1.5rem;
     max-height: 50%;
    overflow-y: auto;
    max-width: calc(60% + 1rem) !important;
  }
.cartitem .price{
     height: 5rem;
    width: 60%;
    position: absolute;
    left: 13rem;
    bottom: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
 }

.qty{
    width: 7rem;
     justify-content: space-between;
}

.b{
     padding: .5rem .8rem;
    border-radius: .3rem;
}

.amt{
     font-size: 15px;
}

.amt aside{
    margin-left: 3rem;
}

.oy{
    overflow-y: auto;
}

.os{
    padding: 1rem;
    border: 1px solid grey;
    position: absolute;
    right: 5%;
    width: 30%;
    top: 10%;
}
.val{
    font-size: 26px;
    font-weight: 100 !important;
    justify-content: space-between;
    margin-top: 1rem;

}

.val h6{
    font-weight: 200;
}

.os button{
    margin-top: 1.5rem;
    width: 100%;
    color: white;
    background: #222;
    padding: 1rem;
}


.update{
     
    background: red;
    position: absolute;
    right: 10%;
    bottom: 5%;
    padding: .5rem;
    font-size: 13px;
    color: #222;
    background: white;
    box-shadow:  0 0 7px 1px rgba(128, 128, 128, 0.135);
    border-radius: .5rem;
}

@media (max-width: 850px){
    .mycart.active{
        height: 100vh !important;
        width: 100vw !important;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 6;
     }

     .os{
        position: absolute;
        height:30vh;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
     }
     .oy{
        width: 100vw;
        border: 1px solid red;
        height: calc(70vh);
        margin-top: 25vh !important;
        margin-left: -5%;
     }

     .val{
        font-size: 14px;
        margin-top: .5rem;
     }

     .os button{
        margin-top: .5rem;
     }

     .cartitem{
        width: 35rem!important;
     }

}