@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.cen{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    height: 100vh;
    width: 100vw;
     overflow-y: auto;
    overflow-x: hidden;
}

nav{
    height: 6rem;
    width: 100%;
     display: grid;
     box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.432);
    grid-template-columns: 2fr 4fr 4fr 1fr;
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.89);
 }

nav.active{
    margin-top: 1rem;
    width: 90%;
    margin-left: 5%;
    border-radius: 3rem;
    background:linear-gradient(45deg, rgba(51, 51, 51, 0.87), #666, #444);
    background:linear-gradient(45deg, rgba(206, 206, 206, 0.87), rgb(183, 186, 190), rgb(218, 211, 211));
    color: white;
    background: white;

}

nav.active .tabs{
    background: rgba(180, 183, 228, 0.466);
      


}

nav.active .search input{
    background: rgba(180, 183, 228, 0.466);
    color: white;


}


.search{
    position: relative;
}
.search i{
    margin-right: 1rem;
    position: absolute;
    right: calc(10% + 1rem);
}

.n{
 }

.nav_content{
    justify-content: space-between;
    padding-right: 1rem;    
 
 }

 .tabs{
     width: 100%;
      justify-content: flex-start;
      border-radius: 1rem;

 }

 .tabs span{
     width: 6rem;
      font-size: 14px;
     margin-left: 1rem;
     height: 3rem;
     border-radius: 1rem;
     

    
 }

 .search input{
     width: 80%;
     height: 3rem;
     border-radius: 1rem;
     background: rgba(98, 103, 182, 0.082);
     border: none;
     padding-left: 1rem;
     outline: none;

 }

 .cir{
     height: 50px;
     width: 50px;
     border-radius: 25px;
     background: rgba(98, 103, 182, 0.082);

 }

 .content{
     width: 100%;
       flex-direction: column;
      margin-top: 7rem;
 }

 .hero{
     width: 90%;
      height: 100%;
     border-radius: 4rem;
     height: 55vh;
     margin-top: 2rem;
     display: grid;
     grid-template-columns: 2fr 3fr;
     overflow: hidden;
     background: #f2f2f986;

 }
 .hero span{
  }

 .hs1{
     padding: 2.5rem;
 }

 .hero .hs1{
     font-size: 2.5rem;
  }

  .hs1 h3{
      font-weight: 500;
      line-height: 3.4rem;
      padding-top: 1rem;
  }

  .hs1 button{
      padding: 1rem 2.5rem;
      background: rgb(43, 103, 233);
      color: white;
      border-radius: 1.5rem;
      margin-top: 1rem;
      border: none;
      font-size: 13px;
  }

  .hs2 img{
      width: 90%;
      height: 150%;
      margin-top: -5rem;
  }
  .categories{
     padding-left: 5vw;
     padding-right: 5vw;
      width: 100vw;
     margin-top: 4rem;
     overflow-x: auto;
     position: relative;
 }

 .categories aside{
      height: 15rem;
      display: flex;
      overflow-x: auto;
     width: max-content;
 }
.wrap{
  }
 .categories .cat{
      background: rgba(98, 103, 182, 0.082);
     height: 12rem;
     width: 12rem;
     margin-left: 2.5rem;
     border-radius: 6rem;

 }

 .cat img{
     width: 70%;
 }

 .cat h3{
     position: absolute;
     bottom: 1rem;
     font-weight: 200;
     font-size: 15px;
      
 }

 .cover{
     position: absolute;
     height: 13rem;
     background: rgb(255, 255, 255);
     width: 7vw;
     right: 0;
     top: 0;
 }

 .featured{
     width: 100%;
      height: max-content;
     padding: 5vw;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
      align-items: center;
 }

 .card{
     height: 17rem;
     margin: 1rem;

     width: 20rem;
 }

 .card .img{
     height: 12rem;
     background: rgba(98, 103, 182, 0.082);
     border-radius: 1rem;
    }

    .card span{
        font-size: 13px;
        margin-top: 1rem;
        font-weight: 300;
         width: max-content;
         background: red;
         height: 4rem;
  
      }

      span h4{
          padding-top: .2rem;
          font-weight: 300;
          margin-left: .2rem;
 
      }

      span .price{
          color: rgba(37, 37, 37, 0.877);
          margin-left: .2rem;
      }

.merch{
    height: 30rem;
    border: 1px solid;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
    position: relative;
    overflow: hidden;
 }

.s1{
    color: white;
    background: #222;
    padding: 5vw;
    padding-right: 10vw;
    position: relative;
}

.s1 h3{
    font-size: 5rem;
}

.s1 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 1rem;
}

.s1 button{
    padding: 1rem;
    margin-top: 2rem;
    background: white;
    color: #222;
    padding: 1rem 2rem;
    border: none;
}

.hot{
    width: 100%;
    margin-top: 5rem;
    
}

.hot .gc{
    height: 10rem;
    width: 20rem;
     position: relative;
    overflow: hidden;
    box-shadow:  0 0 15px 1px rgba(128, 128, 128, 0.315);
    border-radius: 1rem;

}

.gc .bg{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(20px);
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(58, 58, 58, 0.116), rgba(128, 128, 128, 0.212), rgba(202, 146, 146, 0.336), white, rgba(121, 121, 228, 0.13), rgb(212, 212, 212));

}


.slant{
    position: absolute;
    width: 20vw;
    height: 130%;
    background: rgb(255, 255, 255);
    transform:rotate(25deg);
    right: -25%;
    top: -30%;

 }



 .logo{
      padding-right: 2vw;
 }

 .logo img{
     width: 10rem;
 }


 .card .img img{
     width: 60%;
 }
.hb, .mobile_nav{
    display: none;
}
 @media (max-width: 950px){


 .nav_content{
    display: none;
 }
 .search{
    display: none;
 }

 .cart{
    display: none;
 }

 .hero{
    position: relative;
 }
 .hb{
    display: flex;
    height: 50px;
    width: 50px;
     position: absolute;
    right: 10%;
    margin-top: 1.5rem;
 }

 .hb i{
    font-size: 50px;
 }

 .mobile_nav{
    display: grid;
    z-index: 5;
    width: 0vw;
     position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    opacity: 0;
    transition: .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .mobile_nav.active{
    width: 100vw;
    opacity: 1;

    
 }

 .mobile_nav span{
    background: rgba(34, 34, 34, 0.409);
 }

 .m_nav_tabs{
    background: white !important; 
 }

 .ms{
    display: flex;
    margin-top: 3rem;
 }

 .m_tabs{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 5%;
 }

 .m_tabs span{
    margin-top: 6%;
    padding: 1rem;
    width: 90%;
    margin-left: 5%;
    color: #222;
    align-items: flex-start;
    justify-content: flex-start;
 }
   .mc{
    display: flex;
    margin-top: 7%;
   }

   .hs1{
    padding: 1.4rem;
    z-index: 2;
   }

   .hs1 h3{
    font-size: 2.3rem !important;
     line-height: 2.3rem;
    width: 80vw;
    color: #222;
   }

   .hs2{
    position: absolute;
    margin-top: 10vh;
    filter: blur(40px);
   }
   .none{
    opacity: 0;
    z-index: -2;
   }
 }
